{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
        <!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"
      xmlns="http://www.w3.org/1999/html"/>
        <link href="{% static 'libs/datatables.net-autoFill-bs4/css/autoFill.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}

  <h2>Person Form</h2>

  <form method="post" id="personForm" data-district-url="{% url 'ajax_load_district' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    
    <button type="submit">Save</button>
    <a href="{% url 'person_changelist' %}">Nevermind</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_division").change(function () {
      var url = $("#personForm").attr("data-district-url");  // get the url of the `load_cities` view
      var divisionId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: '{% url 'ajax_load_district' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'division': divisionId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
    // this one is for fetching vanue data
    $("#id_district").change(function () { //django-model-form created this id
      var url = $("#personForm").attr("data-district-url");  // get the url of the `load_cities` view
      var districtId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: '{% url 'ajax_load_city' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/) person_form.html template has this url var
        data: {
          'district': districtId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

    $("#id_div").change(function () {
      var url = $("#personForm").attr("data-district-url");  // get the url of the `load_cities` view
      var divisionId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: '{% url 'ajax_load_district' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'division': divisionId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_dis").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
    // this one is for fetching vanue data
    $("#id_dis").change(function () { //django-model-form created this id
      var url = $("#personForm").attr("data-district-url");  // get the url of the `load_cities` view
      var districtId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: '{% url 'ajax_load_city' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/) person_form.html template has this url var
        data: {
          'district': districtId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_thana").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });



  </script>

{% endblock %}
{% block extra_javascript %}
        <!-- Table Editable plugin -->
        <script src="{% static 'libs/table-edits/build/table-edits.min.js' %}"></script>

        <script src="{% static 'js/pages/table-editable.init.js' %}"></script>
{% endblock extra_javascript %}