{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-autoFill-bs4/css/autoFill.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <fieldset class="form-group">
                                                <legend class="border-bottom mb-4 ">Enter New Employee</legend>
                                                {{ form|crispy }}
                                            </fieldset>
                                            <div class="form-group">
                                                <button class="btn btn-outline-info" type="submit">Sign Up</button>
                                            </div>
                                        </form>
                                        <div class="border-top pt-3">
                                            <small class="text-muted">
                                                Already Have An Account? <a class="ml-2" href="{% url 'auth-login' %}">Sign In</a>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
{% endblock content %}

{% block extra_javascript %}
        <!-- Table Editable plugin -->
        <script src="{% static 'libs/table-edits/build/table-edits.min.js' %}"></script>

        <script src="{% static 'js/pages/table-editable.init.js' %}"></script>
{% endblock extra_javascript %}
