<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px dotted red;
  border-collapse: collapse;
}
th, td {
  font-size: 14px;
  padding-top: 5px;
}
th {
    background-color: red;
    text-align: right;
    color: white;
    padding-right: 1px;
    width: 18%;
}
td {
    text-align: left;
    width: 32%;
    padding-left: 3px;
}
#div1 {
    height:20px;
}
#div2 {
    height:20px;
}
#div3 {
    height:20px;
}


</style>
</head>
<body>

<div id="div1">
<div class="center" style="text-align: left;">

    <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
        <tbody>
        <tr style="border-style: hidden;">
            <th style="width: 25%;  height:80px;"><img class="" src="../static/images/pdf-logo.png" alt="Header Avatar" width="700" height="100"></th>
            <th style="width: 24%;  height:80px; font-size:10px; text-align: justify; padding-left:2px;">KA-74/1, Progati Sarani, Kuril Chowrasta, Vatara, Dhaka-1229.
                Tel : 88-02-8411515 / 02-8411575, Mob : 01708-388733, E-mail : info@tpc-bd.org Web : www.tpc-bd.org</th>
            <td style="width: 51%;  height:80px; text-align: center; border-left: 1px solid white; padding-top: 0px;">
                <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
                    <tbody>
                    <tr>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">From:</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.district }}</td>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">To:</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.dis }}</td>
                    </tr>
                    <tr>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">Booking Place</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.sub }}</td>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">Delivery Place</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.tha }}</td>
                    </tr>
                    <tr>
                        <th style="width: 93px;  height:26px; font-size:10px;">Booking Date</th>
                        <td style="width: 92px;  height:26px; font-size:10px;">{{parcel.date}}</td>
                        <th style="width: 93px;  height:26px; font-size:10px;">Booked By</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{parcel.author}}</td>
                    </tr>
                    </tbody>

                </table>
            </td>


        </tr>

        </tbody>
    </table>
</div>


<div  style="padding-top: 10px">

    <caption><span style="color:red; text-align:center; font-size: 14px;"><strong>POD COPY</strong></span></caption>

    <table id="1" style="width:100%">

        <tr>
        <th style="border-bottom: 3pt solid white;">NAME:</th>
        <td> {{ parcel.name }}</td>
        <th style="border-bottom: 3pt solid white;">NAME:</th>
        <td>{{ parcel.receiver }}</td>
      </tr>
      <tr>
        <th style="border-bottom: 3pt solid white;">ADDRESS:</th>
        <td>{{ parcel.s_village }}</td>
        <th style="border-bottom: 3pt solid white;">ADDRESS:</th>
        <td>{{ parcel.r_village }}</td>
      </tr>
        <tr>
        <th style="border-bottom: 3pt solid white;">MOBILE NO:</th>
        <td>{{ parcel.s_phone }}</td>
        <th style="border-bottom: 3pt solid white;">MOBILE NO:</th>
        <td>{{ parcel.r_phone }}</td>
      </tr>
      <tr>
        <th>NID:</th>
        <td>{{ parcel.nid }}</td>
        <th>REF-</th>
        <td>{{parcel.reference}}</td>
      </tr>
    </table>

</div>
</br>


<div class="center" style="text-align: left;">

    <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0";>
        <tbody>
        <tr style="border-style: hidden;">

            <td style="width: 60%;  height:90px; text-align: center; border-left:1px solid red; padding-top: 0px; padding-left: 0px;">
                <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
                    <tbody>
                    <tr>
                        <th style="width: 50%;  height:45px; font-size:10px; border-bottom: 3pt solid white;">Quantity</th>
                        <td style="width: 50%;  height:45px; font-size:10px;">{{ parcel.quantity }}</td>
                        <th style="width: 50%;  height:45px; font-size:10px; border-bottom: 3pt solid white;">Details</th>
                        <td style="width: 50%;  height:45px; font-size:10px;">{{ parcel.type }}</td>
                    </tr>
                    <tr>
                        <th style="width: 50%;  height:45px; font-size:10px;">Unit Price</th>
                        <td style="width: 50%;  height:45px; font-size:10px;">{{ parcel.price }}</td>
                        <th style="width: 50%;  height:45px; font-size:10px;">Price</th>
                        <td style="width: 50%;  height:45px; font-size:10px;">{{ parcel.total }}</td>
                    </tr>

                    </tbody>

                </table>
            </td>

            <th style="width: 40%;  height:90px; padding-top:0px;"><img src="{{parcel.barcode.path}}" alt="" height="172px" width="540px" /></th>


        </tr>

        </tbody>
    </table>
</div>
<br>

<div>
    <table id="4" style="width:100%">
        <tr>
        <th style="width:27%; padding-right: 0px;">RECEIVER'S NAME & DATE:</th>
        <td style="width:36%;"></td>
        <th style="width:12%; padding-right: 0px;">MOBILE NO:</th>
        <td style="width:25%;"></td>
      </tr>
</table>
</div>

</div>

<p>--------------------------------------------------- &#9986;
   -------------------------------------------------- &#9986;
   -------------------------------------------------- &#9986;
   --------------------------------------------------</p>


<!--Customer copy-->

<div id="div2">
<div class="center" style="text-align: left;">

    <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
        <tbody>
        <tr style="border-style: hidden;">
            <th style="width: 25%;  height:80px;"><img class="" src="../static/images/pdf-logo.png" alt="Header Avatar" width="700" height="100"></th>
            <th style="width: 24%;  height:80px; font-size:10px; text-align: justify; padding-left:2px;">KA-74/1, Progati Sarani, Kuril Chowrasta, Vatara, Dhaka-1229.
                Tel : 88-02-8411515 / 02-8411575, Mob : 01708-388733, E-mail : info@tpc-bd.org Web : www.tpc-bd.org</th>
            <td style="width: 51%;  height:80px; text-align: center; border-left: 1px solid white; padding-top: 0px;">
                <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
                    <tbody>
                    <tr>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">From</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.district }}</td>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">To</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.dis }}</td>
                    </tr>
                    <tr>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">Booking Place</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.sub }}</td>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">Delivery Place</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.tha }}</td>
                    </tr>
                    <tr>
                        <th style="width: 93px;  height:26px; font-size:10px;">Booking Date</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{parcel.date}}</td>
                        <th style="width: 93px;  height:26px; font-size:10px;">Booked By</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{parcel.author}}</td>
                    </tr>
                    </tbody>

                </table>
            </td>


        </tr>

        </tbody>
    </table>
</div>


<div  style="padding-top: 10px">

    <caption><span style="color:red; text-align:center; font-size: 14px;"><strong>CUSTOMER COPY</strong></span></caption>

    <table id="11" style="width:100%">
        <tr>
        <th style="border-bottom: 3pt solid white;">NAME:</th>
        <td> {{ parcel.name }}</td>
        <th style="border-bottom: 3pt solid white;">NAME:</th>
        <td>{{ parcel.receiver }}</td>
      </tr>
      <tr>
        <th style="border-bottom: 3pt solid white;">ADDRESS:</th>
        <td>{{ parcel.s_village }}</td>
        <th style="border-bottom: 3pt solid white;">ADDRESS:</th>
        <td>{{ parcel.r_village }}</td>
      </tr>
        <tr>
        <th style="border-bottom: 3pt solid white;">MOBILE NO:</th>
        <td>{{ parcel.s_phone }}</td>
        <th style="border-bottom: 3pt solid white;">MOBILE NO:</th>
        <td>{{ parcel.r_phone }}</td>
      </tr>
      <tr>
        <th>NID:</th>
        <td>{{ parcel.nid }}</td>
        <th>REF-</th>
        <td>{{parcel.reference}}</td>
      </tr>
    </table>

</div>
</br>


<div class="center" style="text-align: left;">

    <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0";>
        <tbody>
        <tr style="border-style: hidden;">

            <td style="width: 60%;  height:90px; text-align: center; border-left:1px solid red; padding-top: 0px; padding-left: 0px;">
                <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
                    <tbody>
                    <tr>
                        <th style="width: 45%;  height:45px; font-size:10px; border-bottom: 3pt solid white;">Quantity</th>
                        <td style="width: 45%;  height:45px; font-size:10px;">{{ parcel.quantity }}</td>
                        <th style="width: 45%;  height:45px; font-size:10px; border-bottom: 3pt solid white;">Details</th>
                        <td style="width: 45%;  height:45px; font-size:10px;">{{ parcel.type }}</td>
                    </tr>
                    <tr>
                        <th style="width: 45%;  height:45px; font-size:10px;">Unit Price</th>
                        <td style="width: 45%;  height:45px; font-size:10px;">{{ parcel.price }}</td>
                        <th style="width: 45%;  height:45px; font-size:10px;">Price</th>
                        <td style="width: 45%;  height:45px; font-size:10px;">{{ parcel.total }}</td>
                    </tr>

                    </tbody>

                </table>
            </td>

            <th style="width: 40%;  height:90px; padding-top:0px;"><img src="{{parcel.barcode.path}}" alt="" height="172px" width="540px" /></th>


        </tr>

        </tbody>
    </table>
</div>

</div>

<p>-------------------------------------------------- &#9986;
   -------------------------------------------------- &#9986;
   -------------------------------------------------- &#9986;
   --------------------------------------------------</p>

<!--Office copy-->

<div id="div3">
<div class="center" style="text-align: left;">

    <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
        <tbody>
        <tr style="border-style: hidden;">
            <th style="width: 25%;  height:80px;"><img class="" src="../static/images/pdf-logo.png" alt="Header Avatar" width="700" height="100"></th>
            <th style="width: 24%;  height:80px; font-size:10px; text-align: justify; padding-left:2px;">KA-74/1, Progati Sarani, Kuril Chowrasta, Vatara, Dhaka-1229.
                Tel : 88-02-8411515 / 02-8411575, Mob : 01708-388733, E-mail : info@tpc-bd.org Web : www.tpc-bd.org</th>
            <td style="width: 51%;  height:80px; text-align: center; border-left: 1px solid white; padding-top: 0px;">
                <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
                    <tbody>
                    <tr>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">From</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.district }}</td>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">To</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.dis }}</td>
                    </tr>
                    <tr>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">Booking Place</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.sub }}</td>
                        <th style="width: 93px;  height:26px; font-size:10px; border-bottom: 3pt solid white;">Delivery Place</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{ parcel.tha }}</td>
                    </tr>
                    <tr>
                        <th style="width: 93px;  height:26px; font-size:10px;">Booking Date</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{parcel.date}}</td>
                        <th style="width: 93px;  height:26px; font-size:10px;">Booked By</th>
                        <td style="width: 93px;  height:26px; font-size:10px;">{{parcel.author}}</td>
                    </tr>
                    </tbody>

                </table>
            </td>


        </tr>

        </tbody>
    </table>
</div>


<div  style="padding-top: 10px">

    <caption><span style="color:red; text-align:center; font-size: 14px;"><strong>OFFICE COPY</strong></span></caption>

    <table id="21" style="width:100%">
        <tr>
        <th style="border-bottom: 3pt solid white;">NAME:</th>
        <td> {{parcel.name}}</td>
        <th style="border-bottom: 3pt solid white;">NAME:</th>
        <td>{{parcel.receiver}}</td>
      </tr>
      <tr>
        <th style="border-bottom: 3pt solid white;">ADDRESS:</th>
        <td>{{ parcel.s_village }}</td>
        <th style="border-bottom: 3pt solid white;">ADDRESS:</th>
        <td>{{ parcel.r_village }}</td>
      </tr>
        <tr>
        <th style="border-bottom: 3pt solid white;">MOBILE NO:</th>
        <td>{{ parcel.s_phone }}</td>
        <th style="border-bottom: 3pt solid white;">MOBILE NO:</th>
        <td>{{ parcel.r_phone }}</td>
      </tr>
      <tr>
        <th>NID:</th>
        <td>{{ parcel.nid }}</td>
        <th>REF-</th>
        <td>{{parcel.reference}}</td>
      </tr>
    </table>

</div>
</br>


<div class="center" style="text-align: left;">

    <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0";>
        <tbody>
        <tr style="border-style: hidden;">

            <td style="width: 60%;  height:90px; text-align: center; border-left:1px solid red; padding-top: 0px; padding-left: 0px;">
                <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
                    <tbody>
                    <tr>
                        <th style="width: 50%;  height:45px; font-size:10px; border-bottom: 3pt solid white;">Quantity</th>
                        <td style="width: 50%;  height:45px; font-size:10px;">{{ parcel.quantity }}</td>
                        <th style="width: 50%;  height:45px; font-size:10px; border-bottom: 3pt solid white;">Details</th>
                        <td style="width: 50%;  height:45px; font-size:10px;">{{ parcel.type }}</td>
                    </tr>
                    <tr>
                        <th style="width: 50%;  height:45px; font-size:10px;">Unit Price</th>
                        <td style="width: 50%;  height:45px; font-size:10px;">{{ parcel.price }}</td>
                        <th style="width: 50%;  height:45px; font-size:10px;">Price</th>
                        <td style="width: 50%;  height:45px; font-size:10px;">{{ parcel.total }}</td>
                    </tr>

                    </tbody>

                </table>
            </td>

            <th style="width: 40%;  height:90px; padding-top:0px;"><img src="{{parcel.barcode.path}}" alt="" height="172px" width="540px" /></th>


        </tr>

        </tbody>
    </table>
</div>

</div>



</body>
</html>
